{% extends layout %}

{% block content %}
<div class="hero-unit">
  <h1>TimedText sandbox</h1>

  <div>
    <p><a href="https://github.com/yuya-takeyama/timedtext">TimedText</a> は文字列を時間帯によって出し分けるためのお手軽構文です.</p>

    <p>このサイトは TimedText の構文を試すためのサンドボックスとして利用でき, ソースコードは <a href="https://github.com/yuya-takeyama/timedtext-sandbox">GitHub</a> から取得することができます.</p>

    <p>入力した文字列はデータベースではなく, ブラウザのクッキーに保存されます.</p>

    <p>
      <a href="/text" class="btn btn-primary btn-large">試してみる</a>
    </p>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h2>入力テキスト</h2>
    <pre>{{ raw_text|e }}</pre>
  </div>

  <div class="span6">
    <h2>変換後のテキスト</h2>
    <pre>{{ converted_text|e }}</pre>
  </div>
</div>
{% endblock %}
