<!DOCTYPE HTML>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>TimedText sandbox</title>
  <meta http-equiv="Content-Style-Type" content="text/css">
  <link rel=stylesheet href="/css/style.css" type="text/css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>
  <h1>TimedText sandbox</h1>
  <div><p><a href="https://github.com/yuya-takeyama/timedtext">TimedText</a> のサンドボックスサイトです. データベースではなくブラウザのクッキーに保存されます.</p></div>

  <ul>
    <li><a href="/">トップ</a></li>
    <li><a href="/text">編集</a></li>
  </ul>

  {% block content %}{% endblock %}
</body>
</html>
