{% extends layout %}

{% block content %}
<div class="row">
  <div class="span6">
    <h2>入力テキスト</h2>
    <pre>{{ raw_text|e }}</pre>
  </div>

  <div class="span6">
    <h2>{{ datetime.format(date_format) }} のプレビュー</h2>
    <pre>{{ converted_text|e }}</pre>
  </div>
</div>
{% endblock %}
